{
    "arrowParens": "always",
    "bracketSameLine": true,
    "bracketSpacing": true,
    "semi": false,
    "experimentalTernaries": false,
    "singleQuote": true,
    "jsxSingleQuote": false,
    "quoteProps": "as-needed",
    "trailingComma": "all",
    "singleAttributePerLine": false,
    "printWidth": 80,
    "requirePragma": false,
    "tabWidth": 4,
    "useTabs": false
}
